$primary-color: rgba(4, 5, 87, 0.575);

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #999;
}

h1 {
  text-align: center;
}

button,
input[type='submit'] {
  background-color: $primary-color;
  border: 5px solid lighten($primary-color, 30%);
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
  &:hover {
    background-color: darken($primary-color, 5%);
  }
  &:active {
    background-color: darken($primary-color, 10%);
  }
}

input {
  padding: 1em;
  &:not([type='submit']) {
    display: block;
    margin: 0.5em;
  }
}

form {
  padding: 0.5em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  label {
    text-align: center;
    display: block;
    margin-bottom: 0.5em;
  }
}

main {
  background-color: white;
  box-shadow: 1px 1px 3px #666;
  border: 5px solid lighten($primary-color, 40%);
  font-weight: 700;
  margin: 2em auto;
  padding: 1em;
  width: 600px;
}

.color-swatch {
  width: 400px;
  height: 400px;
  margin: auto;
}

.color-inputs,
.color-sliders {
  display: flex;
  margin: 1em 0;
}

.color-input,
.color-slider {
  width: 100%;
  padding: 1em;
  label {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
  }
  input {
    width: 100%;
    display: block;
    margin: 0em;
  }
}
