$primary-color: magenta;

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

button,
input[type='submit'] {
  background-color: $primary-color;
  border: 5px solid lighten($primary-color, 30%);
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
  &:hover {
    background-color: darken($primary-color, 5%);
  }
  &:active {
    background-color: darken($primary-color, 10%);
  }
}

input {
  padding: 1em;
  &:not([type='submit']) {
    display: block;
    margin: 0.5em;
  }
}

form {
  padding: 0.5em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  label {
    text-align: center;
    display: block;
    margin-bottom: 0.5em;
  }
}

.Counter {
  border: 5px solid lighten($primary-color, 40%);
  font-weight: 700;
  margin: 2em auto;
  padding: 1em;
  width: 600px;
}

.count {
  font-size: 8em;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
}
